services:
  - type: web
    name: lmn-radgona
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app_radgona:app --bind 0.0.0.0:$PORT --timeout 120 --workers 2 --worker-class gthread --threads 2"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SCRAPER_DEBUG
        value: "true"
      - key: SCRAPER_MAX_WORKERS
        value: "2"
